
<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Highscore</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Highscore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1 class="headTitle">Administration</h1>
    </header>
    <div class="asideAndContainer">
        <aside>
            @Html.ActionLink(" Spel", "Index", "Games", new { area = "Admin" },new{@class="adminLink"})
            @Html.ActionLink(" Highscores", "Index", "Highscores", new { area = "Admin" },new{@class="adminLink"})

        </aside>
        <div class="container">

            @RenderBody()

        </div>

    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Highscore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
